*,
html {
    margin: 0;
    padding: 0;
}
.containertext-am {
    background-color:white;
    display: flex;
    justify-content:center;
}

.containerpicture-am {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-am {
    width: 30%;
    height: 40%;
}

.h5-text {
    font-family:'Times New Roman', Times, serif ;
    font-size: 16px;
    color: black;
    text-align: center ;
}